<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>
<body>

{%if title %}
<h1>Title: {{title}}</h1>
<h2>Content: {{content}}</h2>
<p>
    <a href="/note/edit?title={{title}}">Edit</a>
</p>
{%else %}

<h1>Welcome, {{username}}</h1>

<h2>My Notes</h2>

{%for note in notes%}
<p>
<a href="/note/present?title={{note.title}}">{{note.title}}</a>
<a href="/note/edit?title={{note.title}}">Edit</a>
<a href="/note/present?delete={{note.title}}">Delete</a>
</p>
{% endfor %}

<p>
<a href="/note/create">Create one</a>
</p>
{% endif %}
</body>
</html>